pkgbase = mpa-wallet-git
	pkgdesc = Host installer for a ContinuumDAO MPA wallet node on systemd Arch derivatives
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/ContinuumDAO/mpc-config
	install = mpa-wallet-git.install
	arch = any
	license = BUSL-1.1
	makedepends = git
	depends = ca-certificates
	depends = curl
	depends = docker
	depends = docker-compose
	depends = git
	depends = gnupg
	depends = iptables
	depends = iproute2
	depends = jq
	depends = openssl
	depends = python
	depends = python-cryptography
	depends = python-pip
	depends = python-ruamel-yaml
	depends = socat
	depends = sudo
	depends = ufw
	depends = unzip
	depends = wget
	depends = wireguard-tools
	source = git+https://github.com/ContinuumDAO/mpc-config.git
	source = mpa-wallet-install
	source = mpa-wallet-uninstall
	sha256sums = SKIP
	sha256sums = ad43bab16501e448b3b2dc7bcc0ce0f8801b5b7779948c09a3b64c0e3258b1af
	sha256sums = a24c8324b3737d41643673fc9ba05fbc7c8765a014882e0f222fba153484a57a

pkgname = mpa-wallet-git
